@model book_store_for_developers.Models.Book
@using book_store_for_developers.Infrastructure

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="Left">
    <div id="Breadcrumb">
        <img src="@Url.Content("~/Content/images/dommaly.png")" height="50" width="50" />
        <a href="link">
            Start > ASP.NET
        </a>
        @Html.Action("CategoriesMenu")
    </div>
</div>

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="@Url.PathBooks(Model.ImageFileName)" alt="" id="ProductImg">
            <h4>Products from the same category</h4>
            <div class="small-img-row">
                
                <div class="small-img-col">
                    <img src="images/python.jpg" alt="" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/jezykC++.jpg" alt="" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="images/językR.jpg" alt="" class="small-img">
                </div>
            </div>

        </div>
        <div class="col-2">

            <h1>@Model.BookTitle - @Model.BookAuthor</h1>


            <div id="bookPrice">
                @string.Format("{0:0.##}", Model.BookPrice) zŁ
                </div>
            <a href="@Url.Action("AddToCart","Cart", new { id = Model.BookId })" class="btn3">Add to Cart</a>
            <h3>Book description <i class="fa fa-indent"></i></h3>
            <br>
            <p>
               @Model.BookDescryption
            </p>
        </div>
    </div>
</div>


