@{
    ViewBag.Title = "Book store for developers";
}
  
  <h2 class="title">Categories</h2>

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/computerGraphics.png")" alt="" />
                        <h1>Computer graphics</h1>
                    </a>

                </div>
                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/database.png")" alt="" />
                        <h1>Databases</h1>
                    </a>
                </div>
                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/networksAndServers.png")" alt="" />
                        <h1>Servers</h1>
                    </a>
                </div>
                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/officeApplications.png")" alt="" />
                        <h1>Office</h1>
                    </a>
                </div>

                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/programing.png")" alt="" />
                        <h1>Programming</h1>
                    </a>
                </div>
                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/security.png")" alt="" />
                        <h1>Security</h1>
                    </a>
                </div>
                <div class="col-3">
                    <a href="product-details.html">
                        <img src="@Url.Content("~/Content/images/Others.jpg")" alt="" />
                        <h1>Computer graphics</h1>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <section class="banner">
    </section>
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-details.html">

                    <img src="images/java.jpg" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/python.jpg" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/jezykC++.jpg" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro4-h&m-1499.png" alt="" />
                </a>
            </div>
        </div>

        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/językR.jpg" alt="" />
                </a>

            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro6-SELECTED-11499.png" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro7-anubhutte-988.png" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro8-biba-3039.png" alt="" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro9-dorothy perkins-1245.png" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro10-bobbi brown-5600.png" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro11-AccessHer-39500.png" alt="" />
                </a>
            </div>
            <div class="col-4">
                <a href="product-details.html">
                    <img src="images/pro12-fossil-14296.png" alt="" />
                </a>
            </div>
        </div>
    </div>







   

